body {
  font-family: 'Lato', sans-serif;
  background-color: #37474f;
}

.top-bar {
  background-color: #263238;
}

a.item{
  width: 15% !important;
}

.item .size-48 {
  font-size: 48px;
}

.icon-bar > *:hover {
  background: #37474f;
}

p.information {
  text-align: justify;
  font-size: 15px;
  line-height: 21px;
  color: #d6b602;
}

.logo {
  padding-top: 10px;
  width:  95px !important;
  height: 95px !important;
}

.home {
  background-image: url(../images/home.JPG);
  background-position: 0 -1550px;
  margin-top: -6px;
  height: 77.5%;
}

.home-content {
  margin-left: 0px !important;
  background-color: #37474f;
  padding: 10px 35px;
  padding-bottom: 15px;
  opacity: 0.7;
}

h1, h2, p {
  color: #ffffff;
}

h1 {
  line-height: 35px;
  padding-bottom: 20px;
  font-size: 34px;
}

p {
  font-size: 17px;
  line-height: 22px;
}

.teamwork {
  font-weight: bold;
  font-size: 150%;
}

.emphasis {
  color: #ffd600;
}

.top-space{
  padding-top: 40px;
}

.create-container {
  background-color: #333333;
  margin-top: -9px;
  padding-top: 20px;
  padding-left: 27px;
  text-align: right;
}

.emphasis a{
  color: #ffffff;
  font-weight: bold;
}

.button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.form-title {
  text-align: left;
  font-size: 25px;
  padding-bottom: 0;
}

input[type="submit"] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input[type="text"] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

* > .members-wrapper{
  background-color: #333333;
  margin-top: -6px;
  padding-top: 12px;
  padding-bottom: 50px;
}

.button {
  margin: 6px 0;
}

* > .member-container{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted gray;
}

.member-email {
  color: #42ACE2;
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  font-weight: 100;
}

img.avatar {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: top;
  margin-right: 15px;
}

.member-info {
  display: inline-block;
}

.member-tasks {
  color: #777777;
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  font-weight: 100;
}

.member-name {
  color:#ffffff;
  font-size: 16px;
}

.label-left {
  text-align: left;
  color:#777777;
}

.create-task-container{
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: right;
  padding-right: 21px;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 5px;
  color: gray;
  background: rgba(0,0,0,0.35);
}

.button.tiny {
  padding-right: 0.95rem;
  padding-left: 0.95rem;
}

.title-task {
  color: #ffffff;
  font-size: 12px;
  margin-left: -50px;
}
